@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

.scroll-hide {
  scrollbar-width: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
